<div class="eqLogic-widget eqLogic allowResize #eqLogic_class#" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
    <center class="widget-name"><a href="#eqLink#" style="#hideEqLogicName#">#name_display#</a></center>
    <br />
    <center>
    <img style="display:block;height: 100px;width: 100px;border-radius: 50%;" src = "#photolocation#" />
    <span id = "setposition_#pet.position_id#_value" style="display: none;"></span>
    <span class="cmd cmd-widget cursor" data-type="info" data-subtype="binary" data-cmd_id="#pet.position_id#" data-cmd_uid="#pet.position_uid#" style="display: #pet.position_display#;" >
    </span>
    <br />
    <span class="cmd cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#pet.since_id#" data-cmd_uid="#pet.since_uid#" style="display: #pet.since_display#;" >
        <span class="cmdName #pet.since_hide_name#">#pet.since_name_display# </span>
        <strong class="state"></strong>
    </span>
    <span class="cmd cmd-widget" data-type="info" data-subtype="string" data-cmd_id="#pet.through_id#" data-cmd_uid="#pet.through_uid#" style="display: #pet.through_display#;" >
        <span class="cmdName #pet.through_hide_name#">#pet.through_name_display# </span>
        <strong class="state"></strong>
    </span>
    </center>
  <script type="text/javascript">
    jeedom.cmd.update['#pet.position_id#'] = function(_options){
      if (_options.display_value == '1' || _options.display_value == 1) {
        $('.cmd[data-cmd_id=#pet.position_id#]').empty().append('<img src="plugins/surepetcare/core/template/images/inside-location.png" width="50px" title="#pet.fixposition_str#" >');
        $('#setposition_#pet.position_id#_value').html("0");
      } else {           
        $('.cmd[data-cmd_id=#pet.position_id#]').empty().append('<img src="plugins/surepetcare/core/template/images/outside-location.png" width="50px" title="#pet.fixposition_str#" >');
        $('#setposition_#pet.position_id#_value').html("1");
      }
    }
    jeedom.cmd.update['#pet.position_id#']({display_value:'#pet.position#'});
    $('.cmd[data-cmd_id=#pet.position_id#]').on('click', function () {
      jeedom.cmd.execute({id: '#pet.fixposition_id#', value: {select: $('#setposition_#pet.position_id#_value').html()}});
    });
    jeedom.cmd.update['#pet.since_id#'] = function(_options) {
			var $cmd_id = $('.cmd[data-cmd_id=#pet.since_id#]')
            $cmd_id.attr('title','Valeur du '+_options.valueDate+', collectée le: '+_options.collectDate)
			$cmd_id.find('.state').empty().append(_options.display_value)
            if (_options.alertLevel) {
				$cmd_id.removeClass('label label-warning label-danger')
				if (_options.alertLevel == 'warning') {
					$cmd_id.addClass('label label-warning')
				} else if(_options.alertLevel == 'danger') {
					$cmd_id.addClass('label label-danger')
				}
			}
	}
	jeedom.cmd.update['#pet.since_id#']({display_value:'#pet.since#', valueDate:'#pet.since_valueDate#', collectDate:'#pet.since_collectDate#', alertLevel:'#pet.since_alertLevel#'})
    jeedom.cmd.update['#pet.through_id#'] = function(_options) {
			var $cmd_id = $('.cmd[data-cmd_id=#pet.through_id#]')
            $cmd_id.attr('title','Valeur du '+_options.valueDate+', collectée le: '+_options.collectDate)
			$cmd_id.find('.state').empty().append(_options.display_value)
            if (_options.alertLevel) {
				$cmd_id.removeClass('label label-warning label-danger')
				if (_options.alertLevel == 'warning') {
					$cmd_id.addClass('label label-warning')
				} else if(_options.alertLevel == 'danger') {
					$cmd_id.addClass('label label-danger')
				}
			}
	}
	jeedom.cmd.update['#pet.through_id#']({display_value:'#pet.through#', valueDate:'#pet.through_valueDate#', collectDate:'#pet.through_collectDate#', alertLevel:'#pet.through_alertLevel#'})
  </script>
</div>
