<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
    <center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></center>
    <br />
    <img style="display:block;height: 100px;width: 100px;border-radius: 50%;" src = "#photolocation#" />
    <br />
    <img src="plugins/surepetcare/core/template/images/#positionicon#.png" width="40px" />
</div>
